.company-logo {
  @include reset;

  font-family: "Secular One", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #313D50;
}

@media (min-width: $s-width) {
  .company-logo {
    margin: auto;

    font-size: 29px;
    line-height: 42px;
  }
}

@media (min-width: $m-width) {
  .company-logo {
    margin: 0;
    
    font-size: 34px;
    line-height: 49px;
  }
}
