.company-info {
  @include d-flex(nowrap, row, space-between, center);

  position: relative;

  box-sizing: content-box;
  max-height: 55px;
  padding-right: 13px;
}

.company-info__slogan {
  display: none;

  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #3B3B3B;
}

@media (min-width: $s-width) {
  .company-info {
    justify-content: flex-start;
    padding-right: 0;

    border-bottom: none;
  }

  .company-info__logo {
    margin-right: 15px;
  }

  .company-info__slogan {
    display: inline-block;

    max-width: 110px;
  }
}

@media (min-width: $m-width) {
  .company-info__slogan {
    margin: 0;
    margin-right: 50px;
  }
}

@media (min-width: $l-width) {
  .company-info__slogan {
    margin-right: 64px;
  }
}
