.container {
  width: auto;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: $s-width) {
  .container {
    width: 520px;
  }
}

@media (min-width: $m-width) {
  .container {
    width: 836px;
  }
}

@media (min-width: $l-width) {
  .container {
    width: 1160px;
  }
}
