.header-search__icon {
  &--other {
    display: none;
  }

  &--mobile {
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.header-search__input {
  font-size: 13px;
  line-height: 17px;
}

.header-search__input-wrapper {
  display: none;
}

.header-search__label {
  display: block;
  width: 37px;
  height: 44px;

  cursor: pointer;
}

@media (min-width: $s-width) {
  .header-search {
    position: relative;
  }

  .header-search__icon {
    &--mobile {
      display: none;
    }

    &--other {
      display: block;
    }
  }

  .header-search__input-wrapper {
    display: block;
  }

  .header-search__input {
    width: 259px;
    height: 43px;
    padding-left: 18px;

    border: 1px solid #d6d6d6;
    border-radius: 43px;
    box-shadow: none;
  }

  .header-search__label {
    position: absolute;
    top: 10px;
    right: 4px;
  }
}

@media (min-width: $m-width) {
  .header-search__label {
    top: 12px;
    right: 2px;
  }
}

@media (min-width: $l-width) {
  .header-search__input {
    width: 430px;
  }
}
