.mobile-toggle {
  display: block;
  width: 35px;
  height: 44px;

  background-color: #fff;
  background-image: url("../img/icon-dots-dark.svg");
  background-size: 26px 6px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $s-width) {
  .mobile-toggle {
    display: none;
  }
}
