.profile {
  display: none;
}

@media (min-width: $s-width) {
  .profile {
    display: block;
  }

  .profile__text {
    position: relative;
    top: -1px;

    display: inline-block;
    width: 110px;
    margin-left: 11px;

    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    color: $main-color;

    &::after {
      content: ".......................";
      position: absolute;
      bottom: 12px;
      left: 0;

      width: auto;
      height: 1px;

      font-weight: normal;
      font-size: 11px;
      line-height: 19px;
      letter-spacing: 0.205em;

      color: #337FD2;
    }
  }

  .profile__link {
    @include d-flex(nowrap, row, flex-start, center);
  }

  .profile__link:hover,
  .profile__link:focus {
    outline: none;
  }

  .profile__link:hover .profile__text,
  .profile__link:focus .profile__text {
    color: lighten($main-color, 10%);
  }

  .profile__link:active .profile__text {
    color: darken($main-color, 5%);
  }

  .profile__link:hover .profile__icon-path,
  .profile__link:focus .profile__icon-path {
    fill: lighten($main-color, 10%);
  }

  .profile__link:active .profile__icon-path {
    fill: darken($main-color, 5%);
  }
}

@media (min-width: $l-width) {
  .profile__icon {
    margin-right: 4px;
  }
}
