html, body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-weight: bold;
  font-size: 14px;
  line-height: 33px;
  font-family: "PT Sans Caption", "Arial", sans-serif;
  color: #141414;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
